<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="dist/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;800&display=swap" rel="stylesheet">
    <title>Forum</title>
</head>
<body>
    <main id="app">
<!--header-->
        <div class="header">
            <img v-bind:src="logo[0]" alt="">
            <div class="navbar">
                <ul>
                    <li v-for="link in allPages">
                       {{link.title}}
                    </li>
                </ul>
            </div>
        </div>
<!--hero-->
  <section class="hero">
     <div class="heroTextBox">
         <div class="title">Tech forum!</div>
         <div class="subTitle1">Discuss all the latest technology news and trends</div>
     </div>
  </section>
<!--sezione1-->
<section class="paragraph">
    <div class="paragraph">
        <div>
            <p class="subTitle2">Adava Forum is the place to be</p>
            <p class="para1">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora sit asperiores deleniti
                sequi error dolore facere quod dolores. Id non quisquam
            </p>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div v-for="article in articles" v-if="!article.featured">
            <div class="cardArticle">
                <img alt="" v-bind:src="article.img">
                <p>{{article.title}}</p>
                <p>{{article.artc}}</p> 
             
            </div>
        </div>
    </div> 

    <div class="featuredArtcl">
        <div v-for="article in articles" v-if="article.featured">
            <div class="overlay">
               <p>{{article.title}}</p>
               <p>{{article.artc}} <p>
            </div>        
            <img alt="" v-bind:src="article.img">
           
        </div> 
    </div>
</section>













    </main>
    <script src="scripts/script.js"></script>
</body>
</html>