<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="dist/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Forum</title>
</head>
<body>
    <main id="app">
<!--header-->
        <div class="header">
            <div class="logo">
                <img v-bind:src="logo[0]" alt="">
            </div>          
            <div class="navbar">
                <ul>
                    <li v-for="link in allPages">
                       {{link.title}}
                    </li>
                    <button class="menuButton">
                        Join us
                    </button>
                </ul>
            </div>
        </div>
<!--hero-->
  <section class="hero">
     <div class="heroTextBox">
         <div class="title">Tech forum!</div>
         <div class="subTitle1">Discuss all the latest technology news and trends</div>
         <button class="heroButton">Get avada now <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
     </div>
  </section>

<!--sezione1 con paragrafo grigio-->
<section class="paragraph">
    <div class="paragraph">
        <div>
            <p class="subTitle2">Adava Forum is the place to be</p>
            <p class="para1">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempora sit asperiores deleniti
                sequi error dolore facere quod dolores. Id non quisquam
            </p>
        </div>
    </div>
</section>

<!--blocco titoli centrati-->
<section>
    <div class="titleDiv">
        <p class="subTitle2">
            phasellum eget metus
        </p>
        <span class="subTitle3">
            All the latest news
        </span>
        <div class="underline"></div>
    </div>
</section>

<!--colonna articoli-->
<section>
    <div class="articlesCols">

        <div class="row">  <!--card articoli-->
            <div v-for="article in rowHotTopic.slice(0, 3)"  class="cardArticle">
                
                    <img alt="" v-bind:src="article.img">
                    <div class="miniTitle">{{article.title}}</div>
                    <p class="info">Comments: {{article.commts}}</p>
                    <p class="para2">{{article.artc.slice(0, 100)+"..."}}</p>            
            </div>

            <div class="featuredArtcl">  <!--in primo piano-->
                <div class="overlay">
                    <div class="textBox">
                        <p class="subTitle2">featured article</p>
                        <p class="subTitle3">{{inEvidence.title}}</p>
                        <p class="para2">{{inEvidence.artc.slice(0, 100)+"..."}}</p>
                        <button class="buttonArticle">
                            Read more
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>        
                <img alt="" v-bind:src="inEvidence.img">
            </div>
            
            <div v-for="article in rowHotTopic.slice(3, 6)"  class="cardArticle">    <!--card articoli-->
                <img alt="" v-bind:src="article.img">
                <div class="miniTitle">{{article.title}}</div>
                <p class="info">Comments: {{article.commts}}</p>
                <p class="para2">{{article.artc.slice(0, 100)+"..."}}</p>            
            </div>
        </div> 
        
        <div class="row">    
            <div class="reviewsContainer">  <!--recensioni-->
  
                <div class="overlay">
                    <div class="textBox">
                        <p class="subTitle2">Reviewed products</p>
                        <p class="subTitle3">{{review.title}}</p>
                        <p class="para2">{{review.artc.slice(0, 100)+"..."}}</p>
                        <button class="buttonArticle">
                            Read more
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>        
                <img alt="" v-bind:src="review.img">             
            </div>

         <!--mini colonna-->     
            <div class="tutorialsNguides"> 
                <div class="colTitle"> Tutorials & Guides </div>
                <div class="underline"></div> 
                <div v-for="article in tutorials" class="subCol">
                    
                    <img alt="" v-bind:src="article.img">
                    <div class="miniText"> 
                        <div class="miniTitle">{{article.title}}</div>
                        <p class="info">{{article.title}}</p>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

<!--banda nera con link-->
    <section class="dividerRow">
        <button class="buttonLarge">
            Go to our blog
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </button>
    </section>

<!--tabella sezioni-->
    <section class="gray"> 
        
        <section>     <!--titoli-->
            <div class="titleDiv">
                <p class="subTitle2">
                    phasellum eget metus
                </p>
                <span class="subTitle3">
                    Forum sections
                </span>
                <div class="underline"></div>
            </div>
        </section>

        <div class="tableSections">
            <div class="tablecard">
                <div class="background">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
                <div class="tag">
                    <h4>prova</h4>
                </div>        
            </div>

            <div class="tablecard">
                <div class="background">
                    <i class="fa fa-apple" aria-hidden="true"></i>
                </div>
                <div class="tag">
                    <h4>prova</h4>
                </div>        
            </div>

            <div class="tablecard">
                <div class="background">
                    <i class="fa fa-windows" aria-hidden="true"></i>
                </div>
                <div class="tag">
                    <h4>prova</h4>
                </div>        
            </div>

            <div class="tablecard">
                <div class="background">
                    <i class="fa fa-android" aria-hidden="true"></i>
                </div>
                <div class="tag">
                    <h4>prova</h4>
                </div>        
            </div>

            <div class="tablecard">
                <div class="background">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                </div>
                <div class="tag">
                    <h4>prova</h4>
                </div>        
            </div>

            <div class="tablecard">
                <div class="background">
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                </div>
                <div class="tag">
                    <h4>prova</h4>
                </div>        
            </div>

            <div class="tablecard">
                <div class="background">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                </div>
                <div class="tag">
                    <h4>prova</h4>
                </div>        
            </div>

            <div class="tablecard">
                <div class="background">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                </div>
                <div class="tag">
                    <h4>prova</h4>
                </div> 
            </div>       
        </div>
    </section>

<!--banda nera con link-->
    <section class="dividerRow">
       <button class="buttonLarge">
           Read our forum
           <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
       </button>
    </section>

<!--community-->
    <section class="community">
     <div class="block1">
       <div class="subTitle3">Hey! Join our Community</div>
       <div class="para2">
           Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Et consequuntur, distinctio odit ipsam
           voluptate nemo sunt suscipit numquam nulla. Totam porro
           voluptatum ducimus sint deleniti. Ut minima pariatur quoa.
        </div>
     </div>
    </section>
    <section class="gray">
        <div class="block2">
            <p class="subTitle4"> Subscrive to our newsletter</p>
            <div>
                <input type="text" name="" id="" placeholder="insert your email*">
                <button class="buttonForm">Send</button>
            </div>
        </div>
    </section>
<!--footer-->
    <section class="footer">

        <div class="footerCol">
            <p class="para2">
                Sed semper, nisl id feugiat eleifend, erat est digssim felis,
                quis auctor elit enim nec ante. Cras et nibh risus.
                Pellentesque non mi sit amet mi intermentum
            </p>
        </div>


        <div class="footerCol">
            <ul>
                <li v-for="item in rowHotTopic.slice(0, 3)" class="item">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    {{item.title}} 
                </li>
            </ul>

        </div>

        <div class="footerCol">
            <ul>
                <li v-for="item in recentTopics.slice(0, 3)" class="item">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    {{item.title}} 
                </li>
            </ul>

        </div>
       
        <div class="footerCol">

            <ul>
                <li v-for="item in latestReply.slice(0, 3)" class="item">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    {{item.reply}} 
                </li>
            </ul>

        </div>


    </section>



</main>
<script src="scripts/script.js"></script>
</body>
</html>