.row{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.cardArticle{
    width: 30%;
    padding: 5px;

    display: flex;
    flex-direction: column;
   
    & img {        
        width: 100%;
        height: auto;
    }
    & p {
        width: 100%;
        padding: 5px;
    }
}
.featuredArtcl{
    position: relative;

    & img {
        max-width: 100%;
       object-fit:cover
    }
}

.overlay{
    text-align: left;
    padding: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

.reviewsContainer{
    width: 60%;
    min-height: 300px;
    background-color: blue($color: #000000);
}

.tutorialsNguides{
    border: 1px solid red;
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    & div{
        border: 1px solid red;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: calc(100% / 4);
        width: 100%;
    }  
}

