.row{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cardArticle{
    width: 30%;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
   
    & img {        
        width: 100%;
        height: auto;
    }
    & p {
        width: 100%;
        padding: 5px;
    }
}
.featuredArtcl{
    position: relative;
    color: #ffff;
    & img {
        max-width: 100%;
       object-fit:cover
    }
    & .overlay {
        margin-top:150px
    }
}

.overlay{
    position: absolute;
    display: flex;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.textBox{
    padding-left: 40px;
    padding-right: 40px;
    align-self: center;
    height:auto;
    width: 100%;
    text-align: left;
    color: #fff;
}

.reviewsContainer{
    position: relative;
    width: 65%;
    height: 100%;
    & img {
       max-width: 100%;
       object-fit:cover
    }
}

.tutorialsNguides{
    padding: 10px 10px 10px 0px;
    width: 30%;
    display: flex;

    flex-direction: column;
    & div{
        display: flex;
        justify-content: flex-start;
        height: calc(100% / 4);
        width: 100%;
    }  
}

.tutorialsNguides img{
    width: 150px;
    height: 100px;
    padding: 5px 20px 5px 0px;
}

