.community{
    position: relative;
    height: 70vh;
    background-image: url("../images/join_now_cta_bg.jpg");
    background-size:     cover;                 
    background-repeat:   no-repeat;
    background-position: center center;
}


.block1{
    height: 100%;
    top: 30%;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.block2{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #000;
    text-align: center;
}

