
*{  padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

section{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

