
*{  padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

section{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.centerTitles{
    width: 100%;
    text-align: center;
}

input{
height: 35px;
width: 300px;
margin-right: 10px;
border: 1px solid lightgray
}

button{
    height: 35px;
    width: 100px;
    border-radius: 2px;
    margin-right: 10px;
    color: #fff;
    background-color:  #000;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

