
*{  padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

section{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.centerTitles{
    width: 100%;
    text-align: center;
}

input{
height: 57px;
width: 530px;
padding-left: 20px;
margin-right: 10px;
border: 1px solid lightgray;
     &:focus-visible{
        outline: 2px solid #27aabe;
     }
}

button{
    border-radius: 2px;
    border:0px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

.buttonForm{
    height: 54px;
    width: 248px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;
    background-color: #191919;
        &:hover{
            transition: 0.3s;
            background-color: #fc8c5e;
        }
}

.heroButton{
    font-size: 18px;
    line-height: normal;
    height: 55px;
    width: 253px;
    color: #fff;
    background-color: #27aabe;
        &:hover{
            transition: 0.3s;
            background-color: #fc8c5e;
        }
}

.menuButton{
    font-size: 13px;
    height: 30px;
    width: 97px;
    color: #fff;
    background-color: #191919;
        &:hover{
            transition: 0.3s;
            background-color: #fc8c5e;
        }
    
}

.signupButton{
    font-size: 18px;
    height: 176px;
    width: 55px;
    background-color: #27aabe;
        &:hover{
            transition: 0.3s;
            background-color: #fc8c5e;
        }
}

.buttonArticle{
    height: 55px;
    width: 200px;
    font-size: 18px;
    color: #fff;
    background-color: #191919;
        &:hover{
            transition: 0.3s;
            background-color: #fc8c5e;
        }
}

.buttonLarge{
    height: 160px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    &:hover{
        transition: 0.3s;
        background-color: #27aabe;
    }
}

.centerButton{
    font-size: 18px;
    line-height: normal;
    height: 55px;
    width: 150px;
    color: #fff;
    background-color: #27aabe;
        &:hover{
            transition: 0.3s;
            background-color: #fc8c5e;
        }
}