.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footerCol{
    width: calc(100% / 4);
    padding: 30px;

}

  .footer li { 
    position: relative;
    padding: 0px 0px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aeaeae;
  }
  
  .footer li .fa.fa-chevron-right{
      font-size: 10px;
      font-weight: lighter;
      position: absolute;
      top: 5px;
      left: -2px
  }

  .footer p{
      color: #525252;
  }

//-------------//
.copyright{
    padding-top: 30px;
    border-top: 1px solid #aeaeae;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.socialTable{
    display: flex;
    color: #fff;
    & * {
        margin-left: 10px;
    } 
}

  .socialBox{
      text-align: center;
      line-height: 60px;
      padding-right: 10px;
      font-size: 25px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
  }


.facebook{
    background-color: #3c5998;
}
.twetter{
    background-color: #54acee;
}
.instagram{
    background-color: #3f729b;
}
.youtube{
    background-color: #cd201f;
}