.header{
    background-color: #26a9bd;
    padding-left: 150px;
    padding-right: 150px;
    position: sticky;
    width: 100vw;
    height: 100px;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
        & img{
            margin-right:20px
        }
}

.logo{
    width: 30%;
    & img {
      height: 40px;
      width: auto;

    }
}


.navbar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    & ul {
        justify-content: flex-end;
        display: flex;
        align-content: flex-end;
    }
    & li {
        margin-left: 20px;
    }
}