.header{
    position:sticky;
    height: 100px;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img{
        margin-right:20px
    }
}

section:first-of-type{
    background-color: #26a9bd
}

.navbar{
 text-align: right;
    width: 800px;
    & li {
        min-width: 100%;
        display: inline;
        margin-left: 60px;
    }
}