.header{
    background-color: #26a9bd;
    padding-left: 150px;
    padding-right: 150px;
    position: sticky;
    width: 100vw;
    height: 100px;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
        & img{
            margin-right:20px
        }
        & .fa-search{
            margin-left:20px;
            cursor: pointer;
        }
}

.logo{
    width: 30%;
    & img {
      height: 60px;
      width: auto;

    }
}

.navbar{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    & ul {
        display: flex;
        align-content: flex-end;
       align-items: center;
    }
    & li, button {
        margin-left: 25px;
    }

}

.header a {
    text-decoration: none;
    color: #fff;
    opacity: 80%;
        &:hover{
            opacity: 100%;
        }
        &:active{
            opacity: 100%;
        }
}