.tableSections{
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tablecard{
    text-align: center;
    margin: 10px;
    min-width: calc((100% / 4) - 20px);
    min-height: calc((100% / 2) - 20px);
    background-color: #fff;
    border-top: 2px solid #26a9bd;
}

