@import "partials/default"; //wrapper & default//
@import "partials/header";
@import "partials/textstyles";
@import "partials/heroSection";
@import "partials/grayPara";
@import "partials/articlesContainer";
@import "partials/divider";
@import "partials/table";
@import "partials/centerBlock";


$firsrCol: #26a9bd;
$secondCol: #f2f2f2;
$thirdCol: #ff8d61;

.blue{
    background-color: $firsrCol;
    }
    .gray{
        background-color: $secondCol;
    }
    .orange{
        background-color: $thirdCol;
    }
    